<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/ddoneski/IdeaProjects/BexioGo/src">
        <classes>
            <class name="LoginTest">
                <methods>
                    <exclude name="loginTest"/>
                </methods>
            </class>
            <!-- <class name="LogInRejectRequestAccessTest">
                <methods>
                    <include name="logInRejectRequestAccess"/>
                </methods>
            </class> -->
            <!-- <class name="ForgotPassTest"></class> -->
        </classes>
    </test>
</suite>